@font-face {
  font-family: 'FuturaBookC Regular';
  src: url('assets/fonts/FuturaBookC Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Futurademic Regular';
  src: url('assets/fonts/Futurademic.otf') format('opentype');
}

@font-face {
  font-family: 'Yeseva One';
  src: url('assets/fonts/Yeseva One.otf') format('opentype');
}


@font-face {
  font-family: 'FuturaMediumC';
  src: url('assets/fonts/FuturaMediumC.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNova Regular';
  src: url('assets/fonts/ProximaNova Regular.ttf') format('trutype');
}